/*headerエリア*/
@media screen and (max-width:768px) {
  
  header {
    width:100%;
    height:50px;
    background-color:#1F52B0;
  }

  header ul li.icon {
    font-size: 18px;
    text-align: left; 
    padding: 13px 0 0 13px;
  }

  header ul li.item-link {display: none;}
  

.contents .skills .skill {
  width:100%;
  font-size: 14px;
  text-align:center;
  float:left;
  flex:auto;
}
.services .service {
  width: 100%;
}
.services .service img {
  width: 60%;
  margin-left:20%;
  margin-right:20%;
  height:150px;
  border: solid 2px gray;
  float: none;
}
.services .service .service-title {
  text-align: center;
  display: block;
  margin:10px 20% 0 20%;
}
.services .service .service-explain{
  text-align: center;
  padding:10px 20px 20px 20px;
}

.plans .plan {
  width: 100%;
}

}